/* Tone down the typography scale in articles a litte for higher readability. */
article h1 {
	color: var(--yellow);
	font-size: 2.8333em;
	line-height: 1.1667em;
	padding: 0 5vw;
}

@media screen and (min-width: 48.3125em) {
	article h1 {
		padding: 0;
	}
}

article h1 a {
	color: var(--yellow);
	text-decoration: none;
}

article h1 a:visited {
	color: var(--yellow);
}

article h1 a:before {
	content: '';
	position: absolute;
	left: 0; top: 0;
	width: 100%;
	height: 100%;
}

article p {
	color: white;
}

article figure {
	margin: 0;
	width: fit-content;
	max-width: fill;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	padding: 0 5vw;
}

@media screen and (min-width: 48.3125em) {
	article figure {
		flex: 1;
	}
}

article figure img {
	max-height: 70vh;
	max-width: fill;
	height: auto;
	margin-right: 2vw;
	margin-bottom: 1em;
}

article figcaption {
	flex: 1;
}

article figcaption footer {
	margin-bottom: 2em;
}

article figcaption footer a,
article figcaption footer a:visited {
	color: grey;
}

article figcaption footer time {
	position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.media-list {
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 48.3125em) {
 .media-list {
		padding: 0 5vw;
		margin: -2vw;
  }

  .component .media-list {
  	padding: 0 calc(5vw - 3vmax);
  }
}

.media-list > h2 {
	flex: 0 100%;
	color: var(--yellow);
	padding: 0 5vw;
}

.media-list > p {
	padding: 0 5vw;
}

.media-list article {
	flex: 0 100%;
	margin: 0 5vw;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	position: relative;
	cursor: pointer;
}

@media screen and (min-width: 48.3125em) {
  .media-list article {
		max-height: auto;
		margin: 2vw;
		flex: 0 calc(33% - 4vw);
		flex-flow: row wrap;
  }
}

.media-list article:hover {
	background-color: var(--yellow-opaque);
}

.media-list article h1,
.media-list article p {
	flex: 0 1 auto;
}

.media-list article h1 {
	font-size: 1.25em;
	order: 2;
	padding: 0;
	margin-right: 1rem;
}

@media screen and (min-width: 48.3125em) {
	.media-list article h1 {
		flex: 0 100%;
		margin-right: 0;
	}
}

.media-list article p {
	display: none;
	font-size: .9em;
	order: 3;
}

@media screen and (min-width: 48.3125em) {
	.media-list article p {
		display: block;
	}
}

.media-list article img {
	flex: 0 15vw;
	order: 1;
	margin-bottom: 1em;
	margin-right: 1.5em;
	object-fit: cover;
	max-height: 30vh;
}

@media screen and (min-width: 48.3125em) {
	.media-list article img {
		flex: 0 100%;
		height: auto;
		margin-right: 0;
		min-width: 100%;
	}
}

.media-list article:first-of-type {
	flex: 0 100%;
	flex-flow: row wrap;
	margin-bottom: 1.5em;
	margin-top: 3vmin;
	max-height: auto;
}

@media screen and (min-width: 48.3125em) {
	.media-list article:first-of-type {
		flex: 0 calc(100% - 2em);
	}
}

.media-list article:first-of-type h1 {
	flex: 0 100%;
	order: 1;
}

.media-list article:first-of-type p {
	display: block;
}

.media-list article:first-of-type img {
	max-height: 20vmax;
	object-fit: cover;
	object-position: center;
	min-width: 100%;
}
