.login-form {
	flex: 0 100%;
}

@media screen and (min-width: 52.5em) {
	.login-form {
		flex: 0 1 auto;
	}
}

.login-form > button {
	width: 100%;
}

@media screen and (min-width: 52.5em) {
	.login-form > button {
		width: auto;
	}
}

.login-form ::backdrop {
	background: var(--green-opaque);
}

.login-form dialog {
	border: 0;
}

.login-form form {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	max-width: 25em;
}

.login-form label {
	margin-bottom: .25em;
	color: var(--black);
}

.login-form input,
.login-form menu {
	flex: 0 100%;
}

.login-form a {
	color: var(--black);
}

.login-form a:visited {
	color: var(--black);
}

.valid {
	background-color: var(--green);
	padding: 1vmin 1vmax;
	border-radius: .25em;
}

.login-form form:invalid .valid {
	visibility: hidden;
	line-height: 0;
	margin-bottom: 0;
}

.login-form form:valid .valid {
	visibility: visible;
}
