[role="navigation"] {
	margin-bottom: 10vw;
}

[role="navigation"] :focus {
	outline-color: var(--yellow);
}

/* Hide the navigation's h1 and checkbox but keep them available for screenreaders. */
[role="navigation"] h1,
[role="navigation"] input[type=checkbox] {
	position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

[role="navigation"] ul {
	display: flex;
	flex-flow: row wrap;
	list-style: none;
	padding: 0;
}

[role="navigation"] li {
	flex: 1 100%;
}

@media screen and (min-width: 52.5em) {
	[role="navigation"] li {
		flex: 1;
		max-height: 1.5em;
	}

	[role="navigation"] li:hover ul,
	[role="navigation"] :checked ~ ul {
		transform: scale(1);
	}
}

[role="navigation"] ul ul {
	padding: 1vmin 1vmax;
	margin-left: 3vw;
}

@media screen and (min-width: 52.5em) {
	[role="navigation"] ul ul {
		transition: transform .12s ease-in-out;
		transform: scale(0);
		transform-origin: left top;
		flex-flow: column nowrap;
		background-color: var(--black);
		margin-left: 0;
		max-width: 10rem;
	}
}

[role="navigation"] li li {
	flex: 0;
	margin-right: 3vw;
}

[role="navigation"] label {
	cursor: pointer;
}

[role="navigation"] a,
[role="navigation"] label {
	display: block;
	color: var(--yellow);
	line-height: 2;
	font-weight: 500;
	text-decoration: none;
}

[role="navigation"] a:hover,
[role="navigation"] a:focus,
[role="navigation"] a:visited:hover,
[role="navigation"] a:visited:focus,
[role="navigation"] label:hover,
[role="navigation"] [type="checkbox"]:focus + label {
	text-decoration: underline;
}

[role="navigation"] a:visited {
	color: var(--green);
}

[role="navigation"] [aria-label~='current'],
[role="navigation"] :checked + label {
	color: var(--green);
}

[role="navigation"] [aria-label~='current']:hover {
	text-decoration: underline;
}

[role="navigation"] label {
	margin-left: 0;
}

[role="navigation"] label:after {
	content: '⇩';
	padding-left: .5em;
}

[role="navigation"] [type="checkbox"]:focus + label {
	outline-color: var(--yellow);
	outline-style: auto;
	outline-width: 5px;
}

[role="navigation"] li li a {
	font-size: .9em;
	color: gray;
}
