article h1 {
	color: var(--green);
}

article p {
	color: white;
}

article figure {
	margin: 0;
	width: fit-content;
	max-width: fill;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
}

article figure img {
	max-height: 70vh;
	max-width: fill;
	height: auto;
	margin-right: 2vw;
	margin-bottom: 1em;
}

article figcaption {
	flex: 1;
}

article figcaption footer {
	font-size: .8em;
	color: grey;
	margin-bottom: 2em;
}

article figcaption footer a,
article figcaption footer a:visited {
	color: grey;
}

article figcaption footer time {
	position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
