.rating {
	color: white;
	border: 0;
}

.rating legend {
	color: hotpink;
	font-size: 1.25em;
	font-weight: 600;
}

.rating div {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	color: white;
}

.rating input[type=radio] {
	position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.rating label {
	flex: 1;

	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	transition: all 80ms ease-in-out;
}

.rating :not(:checked) + label {
	opacity: 0.4;
}

.rating label:hover {
	cursor: pointer;
	opacity: .8;
	transform: scale(1.05);
}

.rating :checked + label {
	opacity: 1;
	transform: scale(1.1);
	color: hsla(calc(attr(data-rating) * 20), 100%, 50%, 1);
}

.rating svg {
	margin-top: .5em;
	max-width: 2em;
	height: auto;
}
