[role="status"] {
	display: flex;
	flex-flow: row wrap;
	max-width: 40em;
}

[role="status"] h1 {
	flex: 1 100%;
}

[role="status"] progress {
	flex: 1 100%;
	-webkit-appearance: none;
	appearance: none;
	height: .5em;
}

[role="status"] progress::-webkit-progress-value {
	background-color: #0ebeff;
}

[role="status"] ol {
	display: flex;
	flex: 1;
	flex-flow: column nowrap;
}

[role="status"] li {
	flex: 1;
}

@media screen and (min-width: 38.4375em) {
	[role="status"] ol {
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		list-style-type: none;
		padding: 0;
	}

	[role="status"] li:nth-last-of-type(2),
	[role="status"] li:last-of-type {
		text-align: right;
	}

	[role="status"] li::after {
		content: '\232A';
		padding-left: 1.5em;
	}

	[role="status"] li:last-of-type::after {
		content: '•';
	}
}

[role="status"] li,
[role="status"] a,
[role="status"] a:visited {
	color: gray;
}

[role="status"] a {
	text-decoration: none;
}

[role="status"] a[aria-label~="current"] {
	color: #0ebeff;
}
