[role="status"] {
	display: flex;
	flex-flow: row wrap;
	max-width: 40em;
}

[role="status"] h1 {
	flex: 1 100%;
	color: var(--yellow);
	font-family: 'Fira Sans', system, sans-serif;
	font-weight: 800;
	font-size: 1.25em;
}

[role="status"] progress {
	flex: 1 100%;
	appearance: none;
	height: .5em;
	order: 1;
}

[role="status"] progress::-moz-progress-bar {
	background-color: var(--green);
	margin: 0;
}

[role="status"] progress::-webkit-progress-value {
	background-color: var(--yellow);
}

[role="status"] ol {
	counter-reset: steps;
	display: flex;
	flex: 1;
	flex-flow: column nowrap;
	margin: 0.25em 0;
	list-style-type: none;
}

@media screen and (min-width: 38.4375em) {
	[role="status"] ol {
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		padding: 0;
	}
}

[role="status"] li {
	flex: 1;
	background-color: var(--yellow);
	clip-path: polygon(0 0, 97% 0, 100% 50%, 97% 100%, 0 100%, 3% 50%);
	padding: 1vmin 3em;
	position: relative;
	transition: background ease-in-out 200ms;
}

[role="status"] li::before {
	content: counter(steps);
	counter-increment: steps;
	position: absolute;
	left: 1.5em;
	top: 50%;
	font-weight: 800;
	transform: translateY(-50%);
}

[role="status"] li:first-of-type {
	clip-path: polygon(0 0, 97% 0, 100% 50%, 97% 100%, 0 100%);
}

[role="status"] li:last-of-type {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 3% 50%);
}

[role="status"] [aria-label~="current"] {
	background-color: var(--green);
}

[role="status"] li,
[role="status"] a,
[role="status"] a:visited {
	color: var(--black);
}

[role="status"] a {
	text-decoration: none;
}
